{% extends "base.html" %}
{% block weather %} {{ weather }} {% endblock %}
{% block subtitle %}
    
{% endblock %}
{% block content %}
<div class="text-center">
    <h3>연예인 네일</h3>
</div>
<hr>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a style="color:black" class="nav-link active" id="rose-tab" data-toggle="tab" href="#rose" role="tab" aria-controls="home" aria-selected="true">로제</a>
    </li>
    <li class="nav-item">
      <a style="color:black" class="nav-link" id="minkyeong-tab" data-toggle="tab" href="#minkyeong" role="tab" aria-controls="profile" aria-selected="false">강민경</a>
    </li>
    <li class="nav-item">
      <a style="color:black" class="nav-link" id="joy-tab" data-toggle="tab" href="#joy" role="tab" aria-controls="contact" aria-selected="false">조이</a>
    </li>
    <li class="nav-item">
        <a style="color:black" class="nav-link" id="hyoyeon-tab" data-toggle="tab" href="#hyoyeon" role="tab" aria-controls="contact" aria-selected="false">효연</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="rose" role="tabpanel" aria-labelledby="rose-tab">
        <div class="card-group">
            <div class="card" id="rose_card1">
                <div class="card-body">
                    <a href="#" id="rose_image_1">
                        <img src="static/image/celeb/rose1.jpg" class="card-img-top" />
                    </a>
              </div>
            </div>
            <div class="card">
                <div class="card-body" id="rose_card2">
                    <a href="#"  id="rose_image_2">
                        <img src="static/image/celeb/rose2.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body" id="rose_card3">
                    <a href="#"  id="rose_image_3">
                        <img src="static/image/celeb/rose3.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body" id="rose_card4">
                    <a href="#"  id="rose_image_4">
                        <img src="static/image/celeb/rose4.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
        </div>
        <div class="card-group" id="rose1">
            <div class="card-group">
            
                <div class="card" id="rose_card1_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose1/nail_417">
                            <img src="static/image/nail/nail_417.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card1_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose1/nail_15">
                            <img src="static/image/nail/nail_15.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card1_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose1/nail_385">
                            <img src="static/image/nail/nail_385.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card1_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose1/nail_72">
                            <img src="static/image/nail/nail_72.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="card-group" id="rose2">
            <div class="card-group">
            
                <div class="card" id="rose_card2_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose2/nail_334">
                            <img src="static/image/nail/nail_334.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card2_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose2/nail_373">
                            <img src="static/image/nail/nail_373.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card2_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose2/nail_383">
                            <img src="static/image/nail/nail_383.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card2_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose2/nail_390">
                            <img src="static/image/nail/nail_390.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="card-group" id="rose3">
            <div class="card-group">
            
                <div class="card" id="rose_card3_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose3/nail_283">
                            <img src="static/image/nail/nail_283.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card3_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose3/nail_305">
                            <img src="static/image/nail/nail_305.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card3_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose3/nail_158">
                            <img src="static/image/nail/nail_158.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card3_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose3/nail_70">
                            <img src="static/image/nail/nail_70.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="card-group" id="rose4">
            <div class="card-group">

                <div class="card" id="rose_card4_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose4/nail_90">
                            <img src="static/image/nail/nail_90.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card4_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose4/nail_166">
                            <img src="static/image/nail/nail_166.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card4_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose4/nail_172">
                            <img src="static/image/nail/nail_172.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="rose_card4_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/rose4/nail_186">
                            <img src="static/image/nail/nail_186.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="minkyeong" role="tabpanel" aria-labelledby="minkyeong-tab">
        <div class="card-group" >
            <div class="card" id="minkyeong_card1">
                <div class="card-body">
                    <a href="#" id="minkyeong_image_1">
                        <img src="static/image/celeb/minkyeong1.jpg" class="card-img-top" />
                    </a>
              </div>
            </div>
            <div class="card" id="minkyeong_card2">
                <div class="card-body">
                    <a href="#" id="minkyeong_image_2">
                        <img src="static/image/celeb/minkyeong2.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
            <div class="card" id="minkyeong_card3">
                <div class="card-body">
                    <a href="#" id="minkyeong_image_3">
                        <img src="static/image/celeb/minkyeong3.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
            <div class="card" id="minkyeong_card4">
                <div class="card-body">
                    <a href="#" id="minkyeong_image_4">
                        <img src="static/image/celeb/minkyeong4.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
        </div>
        <div class="card-group" id="minkyeong1">
            <div class="card-group">

                <div class="card" id="minkyeong_card1_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong1/nail_18">
                            <img src="static/image/nail/nail_18.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="minkyeong_card1_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong1/nail_23">
                            <img src="static/image/nail/nail_23.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="minkyeong_card1_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong1/nail_58">
                            <img src="static/image/nail/nail_58.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="minkyeong_card1_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong1/nail_128">
                            <img src="static/image/nail/nail_128.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-group" id="minkyeong2">
            <div class="card-group">
                
                    <div class="card" id="minkyeong_card2_list1">
                        <div class="card-body">
                            <a href="/celeb_select_nail/minkyeong2/nail_341">
                                <img src="static/image/nail/nail_341.jpg" class="card-img-top" />
                            </a>
                        </div>
                    </div>
                    <div class="card" id="minkyeong_card2_list2">
                        <div class="card-body">
                            <a href="/celeb_select_nail/minkyeong2/nail_352">
                                <img src="static/image/nail/nail_352.jpg" class="card-img-top" />
                            </a>
                        </div>
                    </div>
                    <div class="card" id="minkyeong_card2_list3">
                        <div class="card-body">
                            <a href="/celeb_select_nail/minkyeong2/nail_69">
                                <img src="static/image/nail/nail_69.jpg" class="card-img-top" />
                            </a>
                        </div>
                    </div>
                    <div class="card" id="minkyeong_card2_list4">
                        <div class="card-body">
                            <a href="/celeb_select_nail/minkyeong2/nail_170">
                                <img src="static/image/nail/nail_170.jpg" class="card-img-top" />
                            </a>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="card-group" id="minkyeong3">
            <div class="card-group">

                <div class="card" id="minkyeong_card3_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong3/nail_172">
                            <img src="static/image/nail/nail_172.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="minkyeong_card3_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong3/nail_186">
                            <img src="static/image/nail/nail_186.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="minkyeong_card3_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong3/nail_196">
                            <img src="static/image/nail/nail_196.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="minkyeong_card3_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong3/nail_381">
                            <img src="static/image/nail/nail_381.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-group" id="minkyeong4">
            <div class="card-group">
            
                <div class="card" id="minkyeong_card4_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong4/nail_175">
                            <img src="static/image/nail/nail_175.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="minkyeong_card4_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong4/nail_139">
                            <img src="static/image/nail/nail_139.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="minkyeong_card4_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong4/nail_109">
                            <img src="static/image/nail/nail_109.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="minkyeong_card4_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/minkyeong4/nail_173">
                            <img src="static/image/nail/nail_173.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="joy" role="tabpanel" aria-labelledby="joy-tab">
        <div class="card-group">
            <div class="card" id="joy_card1">
                <div class="card-body">
                    <a href="#" id="joy_image_1">
                        <img src="static/image/celeb/joy1.jpg" class="card-img-top" />
                    </a>
              </div>
            </div>
            <div class="card" id="joy_card2">
                <div class="card-body">
                    <a href="#" id="joy_image_2">
                        <img src="static/image/celeb/joy2.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
            <div class="card" id="joy_card3">
                <div class="card-body">
                    <a href="#" id="joy_image_3">
                        <img src="static/image/celeb/joy3.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
            <div class="card" id="joy_card4">
                <div class="card-body">
                    <a href="#" id="joy_image_4">
                        <img src="static/image/celeb/joy4.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
        </div>
        <div class="card-group" id="joy1">
            <div class="card-group">
            
                <div class="card" id="joy_card1_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy1/nail_10">
                            <img src="static/image/nail/nail_10.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card1_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy1/nail_84">
                            <img src="static/image/nail/nail_84.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card1_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy1/nail_144">
                            <img src="static/image/nail/nail_144.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card1_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy1/nail_199">
                            <img src="static/image/nail/nail_199.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="card-group" id="joy2">
            <div class="card-group">
            
                <div class="card" id="joy_card2_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy2/nail_63">
                            <img src="static/image/nail/nail_63.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card2_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy2/nail_182">
                            <img src="static/image/nail/nail_182.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card2_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy2/nail_210">
                            <img src="static/image/nail/nail_210.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card2_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy2/nail_119">
                            <img src="static/image/nail/nail_119.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="card-group" id="joy3">
            <div class="card-group">
            
                <div class="card" id="joy_card3_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy3/nail_98">
                            <img src="static/image/nail/nail_98.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card3_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy3/nail_394">
                            <img src="static/image/nail/nail_394.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card3_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy3/nail_222">
                            <img src="static/image/nail/nail_222.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card3_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy3/nail_94">
                            <img src="static/image/nail/nail_94.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="card-group" id="joy4">
            <div class="card-group">
            
                <div class="card" id="joy_card4_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy4/nail_400">
                            <img src="static/image/nail/nail_400.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card4_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy4/nail_419">
                            <img src="static/image/nail/nail_419.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card4_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy4/nail_420">
                            <img src="static/image/nail/nail_420.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="joy_card4_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/joy4/nail_414">
                            <img src="static/image/nail/nail_414.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="hyoyeon" role="tabpanel" aria-labelledby="hyoyeon-tab">
        <div class="card-group">
            <div class="card" id="hyoyeon_card1">
                <div class="card-body">
                    <a href="#" id="hyoyeon_image_1">
                        <img src="static/image/celeb/hyoyeon1.jpg" class="card-img-top" />
                    </a>
              </div>
            </div>
            <div class="card" id="hyoyeon_card2">
                <div class="card-body">
                    <a href="#" id="hyoyeon_image_2">
                        <img src="static/image/celeb/hyoyeon2.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
            <div class="card" id="hyoyeon_card3">
                <div class="card-body">
                    <a href="#" id="hyoyeon_image_3">
                        <img src="static/image/celeb/hyoyeon3.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
            <div class="card" id="hyoyeon_card4">
                <div class="card-body">
                    <a href="#" id="hyoyeon_image_4">
                        <img src="static/image/celeb/hyoyeon4.jpg" class="card-img-top" />
                    </a>
                </div>
            </div>
        </div>
        <div class="card-group" id="hyoyeon1">
            <div class="card-group">
            
                <div class="card" id="hyoyeon_card1_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon1/nail_120">
                            <img src="static/image/nail/nail_120.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card1_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon1/nail_17">
                            <img src="static/image/nail/nail_17.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card1_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon1/nail_5">
                            <img src="static/image/nail/nail_5.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card1_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon1/nail_148">
                            <img src="static/image/nail/nail_148.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="card-group" id="hyoyeon2">
            <div class="card-group">
            
                <div class="card" id="hyoyeon_card2_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon2/nail_231">
                            <img src="static/image/nail/nail_231.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card2_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon2/nail_72">
                            <img src="static/image/nail/nail_72.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card2_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon2/nail_168">
                            <img src="static/image/nail/nail_168.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card2_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon2/nail_333">
                            <img src="static/image/nail/nail_333.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="card-group" id="hyoyeon3">
            <div class="card-group">
            
                <div class="card" id="hyoyeon_card3_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon3/nail_362">
                            <img src="static/image/nail/nail_362.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card3_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon3/nail_363">
                            <img src="static/image/nail/nail_363.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card3_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon3/nail_367">
                            <img src="static/image/nail/nail_367.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card3_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon3/nail_289">
                            <img src="static/image/nail/nail_289.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="card-group" id="hyoyeon4">
            <div class="card-group">
            
                <div class="card" id="hyoyeon_card4_list1">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon4/nail_289">
                            <img src="static/image/nail/nail_344.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card4_list2">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon4/nail_257">
                            <img src="static/image/nail/nail_257.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card4_list3">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon4/nail_123">
                            <img src="static/image/nail/nail_123.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="card" id="hyoyeon_card4_list4">
                    <div class="card-body">
                        <a href="/celeb_select_nail/hyoyeon4/nail_96">
                            <img src="static/image/nail/nail_96.jpg" class="card-img-top" />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    
</div>
    
{% endblock %}