{% extends "base.html" %}
{% block weather %} {{ weather }} {% endblock %}
{% block subtitle %}
    
{% endblock %}
{% block content %}
<div id="loading" class="text-center">
    <img  src="static/image/loading.gif">
    <h4>Please wait...</h4>
</div>

<div class="text-center" id="upload_banner">
    <img class="img-fluid" src="static/image/upload_banner.jpg">
</div>


    <div id="sandle_upload" class="text-center">
        <form form id="myForm" action="/uploader" method="POST" enctype = "multipart/form-data">
            <table class="table table-borderless">
                <tr>
                    <td style="text-align: center;">
                        <label for="exampleFormControlFile1">******* 신발 사진을 첨부해주세요 *******</label>
                    </td>
                </tr>
                <tr> 
                    <td  style="text-align: center;">
                        
                        <input style="margin-left: 20px;" type="file" name='file' class="real-upload" accept="image/*" required multiple>
                        
                    </td> 
                </tr>
                <td  style="text-align: center;">
                    <button style="background-color: gray;" type="submit" class="btn btn-primary mb-2">전송</button>
                    
                </td>
            </table>
        </form>
    </div>


    
    
{% endblock %}