{% extends "base.html" %}
{% block weather %} {{ weather }} {% endblock %}
{% block subtitle %}
    
{% endblock %}
{% block content %}
<div id="loading" class="text-center">
    <img  src="static/image/loading.gif">
    <h4>Please wait...</h4>
</div>
<div id="sandle_pedi_list">
    <div class="text-center">
        <h3>샌들 색에 따른 페디 추천</h3>
    </div>
    <hr>
    <div class="text-center">
        <img class="rounded"  style="height: 200px; width: 200px;" src="{{url_for('static',filename='upload/'+f_name)}}">
    </div>
    <div class="text-center">
        <input id="ones" type="radio" name="ones" value="ones">통일성
        <input id="diverse" type="radio" name="diverse" value="diverse">다양성
    </div>
    <div id="pedi_ones">
        <div class="card-deck mb-4 text-center">      
            {% for key, value in one_dict.items() %}       
            <div class="card mb-4 shadow-sm">             
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal" >{{value}}</h5>
                </div>
    
                <div class="card-body">
                    <a href="#">
                        <img src="{{url_for('static',filename='image/pedi/'+key+'.jpg')}}" class="card-img-top" />
                    </a>
                </div>
            </div>
            {% endfor %}  
        </div>
    </div>
        
    <div id="pedi_diverse">
        <div class="card-deck mb-4 text-center">      
            {% for key, value in diverse_dict.items() %}       
            <div class="card mb-4 shadow-sm">             
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal" >{{value}}</h5>
                </div>
    
                <div class="card-body">
                    <a href="#">
                        <img src="{{url_for('static',filename='image/pedi/'+key+'.jpg')}}" class="card-img-top" />
                    </a>
                </div>
            </div>
            {% endfor %}  
        </div>
    </div>
    <div id="sandle_pedi_upload" >
        <form  id="myFoot_sandle" action="/upload_foot_sandle" method="POST" enctype = "multipart/form-data">
            <table class="table table-borderless">
                <tr>
                    <td style="text-align: center;">
                        <label for="exampleFormControlFile1">******* 발 사진을 첨부해주세요 *******</label>
                    </td>
                </tr>
                <tr> 
                    <td  style="text-align: center;">
                        
                        <input style="margin-left: 20px;" type="file" name='file' class="real-upload" accept="image/*" required multiple>
                        
                    </td> 
                </tr>
                <td  style="text-align: center;">
                    <button style="background-color: gray;" type="submit" class="btn btn-primary mb-2">전송</button>
                    
                </td>
                
            </table>
            <input type="hidden" name="sandle_name" value="{{f_name}}">
            {% for key, value in one_dict.items() %}
            <input type="hidden" name="ones_name_list" value="{{value}}">
            <input type="hidden" name="ones_key_list" value="{{key}}">
            {% endfor %}  
            
            {% for key, value in diverse_dict.items() %} 
            <input type="hidden" name="diverse_name_list" value="{{value}}">
            <input type="hidden" name="diverse_key_list" value="{{key}}">
            {% endfor %}  
        </form>
        <div style="height: 20px;">
            <p>
                &nbsp;
            </p>
        </div>
    </div>
</div>

    
{% endblock %}